@{
    ViewBag.Title = "Work";
}

@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/Work/WorkIndex.css" />
}

<div id="bacgroundColorContainer">Work</div>

<div class="content">
    <div class="row">
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="~/Work/Sets" style="display:block">
                <div class="item item-left">
                    <div class="item-content">
                        <h3 class="text">SETS</h3>
                        <h5>View products</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="~/Work/Images" style="display:block">
                <div class="item item-right">
                    <div class="item-content">
                        <h3 class="text">IMAGES</h3>
                        <h5>View products</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
