@{
    ViewBag.Title = "Work";
}

@*<div id="description">
    <p>I create 2 types of products: sets and single images</p>
</div>*@

<div class="content">
    <div class="row">
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="~/Work/Sets" style="display:block">
                <div class="item item-left">
                    <img class="image" src="~/Content/Images/Balloon_Product/7.jpg" alt="Sample Photo" />
                    <div class="item-content">
                        <h3 class="text">SETS</h3>
                        <h5>View products</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="~/Work/SingleImages" style="display:block">
                <div class="item item-right">
                    <img class="image" src="~/Content/Images/Balloon_Product/4.jpg" alt="Sample Photo" />
                    <div class="item-content">
                        <h3 class="text">SINGLE IMAGES</h3>
                        <h5>View products</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

