@{
    ViewBag.Title = "Work";
}

@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/Work/WorkIndex.css" />
}

<div class="row ">
    <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Work/Sets" style="display:block">
            <div class="item item-left">
                <img src="~/Content/Images/WorkProjectsImageLarge.jpg" class="projectsImage workProjectsImageLarge" alt="image cant be loaded">
                <img src="~/Content/Images/WorkProjectsImageMiddle.jpg" class="projectsImage workProjectsImageMiddle" alt="image cant be loaded">
                <img src="~/Content/Images/WorkProjectsImageSmall.jpg" class="projectsImage workProjectsImageSmall" alt="image cant be loaded">
                <div class="item-content-sets">
                    <h3 class="text">PRODUCTS</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Work/Images" style="display:block">
            <div class="item item-right">
                <img src="~/Content/Images/WorkSingleImagesLarge.jpg" class="imagesImage workSingleImagesLarge" alt="image cant be loaded">
                <img src="~/Content/Images/WorkSingleImagesMiddle.jpg" class="imagesImage workSingleImagesMiddle" alt="image cant be loaded">
                <img src="~/Content/Images/WorkSingleImagesSmall.jpg" class="imagesImage workSingleImagesSmall" alt="image cant be loaded">
                <div class="item-content-images">
                    <h3 class="text">IMAGES</h3>
                </div>
            </div>
        </a>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var projectsImages = document.getElementsByClassName("projectsImage");
        for (var i = 0; i < projectsImages.length; i++) {
            projectsImages[i].addEventListener("load", showProjectsImg(projectsImages[i]), false);
        }

        function showProjectsImg(element) {
            //$('#projectsImage').css('opacity', '1');
            centerBodyContent();
            $(element).animate({
                'opacity': '1'
            }, 700, function () {
                $('.item-content-sets').animate({
                    'opacity': '1'
                }, 700);
            });
        };

        var imagesImages = document.getElementsByClassName("imagesImage");
        for (var i = 0; i < imagesImages.length; i++) {
            imagesImages[i].addEventListener("load", showImageImg(imagesImages[i]), false);
        }

        function showImageImg(element) {
            centerBodyContent();
            $(element).animate({
                'opacity': '1'
            }, 700, function () {
                $('.item-content-images').animate({
                    'opacity': '1'
                }, 700);
            });
        };
    });

    $(window).resize(function () {
        centerBodyContent();
    });

    function centerBodyContent()
    {
        var windowHeight = $(document).height();
        var bodyHeight = windowHeight - 100;
        // alert("bodyHeight" + bodyHeight + 'body-content' + $('.body-content').height());
        //$('.body-content').css('height', bodyHeight - 25);
       // $('.item').css('height', bodyHeight - 25);
        //alert($(window).height());
        console.log('windowHeight' + windowHeight);
        console.log('bodyHeight' + bodyHeight);
        var windowWidth = $(window).width();
        if (windowWidth > 767) {
            var bodyContentHeight = $('.body-content').height();
            if (bodyHeight > bodyContentHeight) {
                var marging = (bodyHeight - bodyContentHeight) / 2;
                //alert('bodyHeight ' + bodyHeight + ' bodyContentHeight: ' + bodyContentHeight);
                if (marging > 80)
                {
                    marging = 80;
                }
                else if (marging < 15)
                {
                    marging = 15;
                }
                $('.body-content').css('margin-top', marging);
            }
        }
        else
        {
            $('.body-content').css('margin-top', 0);
            $('.item').css('height', 'unset');
        }
    }
</script>
