@model SiteForTanya.WEB.Models.WorkViewModels.SetVewModel

@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/SetStyle.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/ScaleImage.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
}

<div id="setNameContainer">@Model.Name</div>

<script type="text/javascript">
    $(document).ready(function () {
        var imageContainersData = [];
        var imageContainers = $('.imageContainer');
        imageContainers.each(function (index, element) {
            item = {};
            item.id = $(element).attr('id');
            var marginTop = $(element).css('margin-top');
            item.marginTop = marginTop;
            var marginBottom = $(element).css('margin-bottom');
            item.marginBottom = marginBottom;
            var marginRight = $(element).css('margin-right');
            item.marginRight = marginRight;
            var marginLeft = $(element).css('margin-left');
            item.marginLeft = marginLeft;

            imageContainersData.push(item);
        });

        var imagesData = [];
        var images = $('.image');
        images.each(function (index, element) {
            item = {};
            item.id = $(element).attr('id');
            var maxHeight = $(element).css('max-height');
            item.maxHeight = maxHeight;
            var float = $(element).css('float');
            item.float = float;
            imagesData.push(item);
        });

        calculateImageParameters();

        $(window).resize(function () {
            calculateImageParameters();

            var element = $('.scaleClass');
            if (element.length > 0) {
                removeScale(element.first());
            }
        });         

        function calculateImageParameters()
        {
            if (window.innerWidth <= 767) {
                images.each(function (index, element) {
                    $(element).css('max-height', '600px');
                    $(element).css('float', 'none');;
                });

                imageContainers.each(function (index, element) {
                    $(element).css('margin-top', '0px');
                    $(element).css('margin-bottom', '30px');
                    $(element).css('margin-right', '0px');
                    $(element).css('margin-left', '0px');
                });
            }
            else {
                for (var i = 0; i < imagesData.length; i++) {
                    $('#' + imagesData[i].id).css('max-height', imagesData[i].maxHeight);
                    $('#' + imagesData[i].id).css('float', imagesData[i].float);
                }

                for (var i = 0; i < imageContainersData.length; i++) {
                    $('#' + imageContainersData[i].id).css('margin-top', imageContainersData[i].marginTop);
                    $('#' + imageContainersData[i].id).css('margin-bottom', imageContainersData[i].marginBottom);
                    $('#' + imageContainersData[i].id).css('margin-right', imageContainersData[i].marginRight);
                    $('#' + imageContainersData[i].id).css('margin-left', imageContainersData[i].marginLeft);
                }
            }
        }


        $('.body-content').on('click', '.image', function (e) {
            var windowWidth = document.body.offsetWidth;
            if (windowWidth > 767) {
                var src = $(this).attr('src');

                $('body').append('<div class="zoomContainer">' +
                        '<div class="overlay"></div>' +
                        '<i class="fa fa-search-plus resizeBtn" style="font-size:20px;" aria-hidden="true"></i><i class="fa fa-times closeImageBtn" style="font-size:26px;" aria-hidden="true"></i>' +
                        '<div class="zoomMenu"></div>' +
                        '<div class="zoomedImageContainer">' +
                            '<img src="' + $(this).attr('src') + '" alt="image cant be loaded" class="zoomedImage" onload="zoomedImgLoaded(this)"/>' +
                        '</div>' +
                    '</div>');
            }
        });

        $('body').on('click', '.zoomedImageContainer', function (e) {
            removeZoomContainer();
        });

        $('body').on('click', '.zoomedImage', function (e) {
            e.stopPropagation();
            scaleImage(this);
        });

        $('body').on('click', '.resizeBtn', function (e) {
            if ($(this).hasClass('fa-search-plus')) {
                $(this).removeClass('fa-search-plus');
                $(this).addClass('fa-search-minus');
            }
            else {
                $(this).removeClass('fa-search-minus');
                $(this).addClass('fa-search-plus');
            }
            scaleImage($('.zoomedImage').first());
        });

        $('body').on('click', '.closeImageBtn', function (e) {
            removeZoomContainer();
        });



    });

    function imgLoaded(img) {
        if ($('#getSetNamesFromServerLoadingAnimation').css('display') != 'none')
        {
            $('#getSetNamesFromServerLoadingAnimation').css('display', 'none');
        }
        $(img).parent().fadeIn(600);
    };

    function zoomedImgLoaded(img) {
        $('body').css('overflow', 'hidden');
        $('.zoomedImage').css('transform', 'scale(1)');
        $('.overlay').animate({ 'opacity': '0.9' }, 600, function () {
            $('.zoomMenu').css('opacity', '0.3');
            $('.resizeBtn').animate({ 'opacity': '1' });
            $('.closeImageBtn').animate({ 'opacity': '1' });
        });
    };

    function returnImage(elem, isImageWidthBiggerThanWindow, isImageHeightBiggerThanWindow) {
        var left;
        var top;
        if (isImageWidthBiggerThanWindow) {
            if ($(elem).position().left > 0) {
                left = ($(elem).width() * 2 - $(window).width()) / 2;
            }
            else if ($(elem).position().left < $(window).width() - $(elem).width() * 2) {
                var result = ($(elem).width() * 2 - $(window).width()) / 2;
                left = "-" + result;
            }
        }
        if (isImageHeightBiggerThanWindow) {
            if ($(elem).position().top > 30) {
                top = (($(elem).height() * 2 - $(window).height()) / 2) - 6;
            }
            else if ($(elem).position().top < $(window).height() - $(elem).height() * 2) {
                var result = (($(elem).height() * 2 - $(window).height()) / 2) + 45;
                top = "-" + result;
            }
        }
        $(elem).animate({ top: parseFloat(top) + parseFloat("30"), left: left }, 400);
    }

    function removeScale(elem) {
        $(elem).draggable({ disabled: true });
        $(elem).css('transform', 'scale(1)');
        $(elem).animate({ left: "0px", top: "0px" }, 600);
        $(elem).toggleClass('scaleClass');
        $(elem).css('cursor', 'zoom-in');
        $('.resizeBtn').removeClass('fa-search-minus');
        $('.resizeBtn').addClass('fa-search-plus');
    }

    function removeZoomContainer() {
        $('.resizeBtn').remove();
        $('.closeImageBtn').remove();

        $('.zoomContainer').animate({ 'opacity': '0' }, 400, function () {
            $('.zoomContainer').remove();
        });
        if ($('.zoomedImage').hasClass('scaleClass')) {
            $('.zoomedImage').css('transform', 'scale(8)');
        }
        else {
            $('.zoomedImage').css('transform', 'scale(5)');
        }

        $('body').css('overflow', 'overlay');
    }

    function scaleImage(element) {
        if ($(element).hasClass('scaleClass')) {
            removeScale(element);
        }
        else {
            var isImageWidthBiggerThanWindow = $(element).width() * 2 > $(window).width();
            var isImageHeightBiggerThanWindow = $(element).height() * 2 > $(window).height();

            var axis = "";
            if (isImageHeightBiggerThanWindow) {
                axis += "y";
            }
            if (isImageWidthBiggerThanWindow) {
                axis += "x";
            }
            $(element).draggable({
                disabled: false,
                axis: axis,
                stop: function () {
                    returnImage(element, isImageWidthBiggerThanWindow, isImageHeightBiggerThanWindow);
                },
                scroll: false
            });
            $(element).toggleClass('scaleClass');
            $(element).css('transform', 'scale(2)');
            $(element).css('cursor', '-webkit-grab');
            $(element).css('cursor', '-moz-grab');
            $(element).css('cursor', 'grab');
            $('.resizeBtn').removeClass('fa-search-plus');
            $('.resizeBtn').addClass('fa-search-minus');
        }
    }


</script>

@Html.Raw(Model.Html)
