@{
    ViewBag.Title = "Sets";
}

@section scripts {
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/SearchElement.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/PaginationElement.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Loading.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Set.css" />
    <script src='@Url.Content("~/Scripts/PaginationElement.js")' type="text/javascript"></script>
}

<div>
    <div id="itemSeacher">
        <input id="searchInput" type="text" class="form-control" placeholder="keyWord" autocomplete="off" spellcheck="false" autocorrect="off" data-autocomplete-source="@Url.Action("SetsAutocompleteSearch", "Work")">
        <img id="searchBtn" src="~/Content/Images/SearchImage.jpg">
        <div id="searchInfoContainer">
            <label>Show on page</label>
            <div id="itemsCountContainer">
                <div id="itemsCountBtn">20<i id="itemsCountBtnCaretDown" class="fa fa-caret-down" aria-hidden="true"></i></div>
                <div id="hidddenItemsCount">
                    <div class="hiddenBtnImageCount topBtn">20</div>
                    <div class="hiddenBtnImageCount">40</div>
                    <div class="hiddenBtnImageCount bottomBtn">60</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="getSetNamesFromServerLoadingAnimation">
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>

<div id="existingSets"></div>

<div id="pagination"></div>

<script type="text/javascript">
    $(document).ready(function () {

        getSetNamesFromServer(1);

        $('#searchBtn').bind('click', function () {
            $('#pagination').fadeOut();
            $('html').animate({
                scrollTop: 0
            }, 500, function () {
                $('#existingSets').fadeOut(400, function () {
                    getSetNamesFromServer(1);
                });
            });
        });

        $('#itemSeacher').on('keypress', '#searchInput', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                $('#pagination').fadeOut();
                $('html').animate({
                    scrollTop: 0
                }, 500, function () {
                    $('#existingSets').fadeOut(400, function () {
                        getSetNamesFromServer(1);
                    });
                });
            }
        });


        function getSetNamesFromServer(pageNumber) {
            $('#pagination').fadeOut();
            showLoadingAnimation();

            var keyWords = $('#searchInput').val();
            var setsCountOnPage = parseInt($('#itemsCountBtn').text());

            $.ajax({
                type: "Get",
                url: '@Url.Action("GetSetsNames", "Work")',
                data: { keyWords: keyWords, setsCountOnPage: setsCountOnPage, pageNumber: pageNumber },
                success: function (result) {
                    loadedBeginNumber = 0;
                    loadedEndNumber = result.sets.length;
                    loadedResultImageCount = result.setsCount;
                    loadedPageNumber = pageNumber;
                    fillSets(result);
                    setTimeout(showIfNotAllImagesAreLoaded, 12000);

                    function showIfNotAllImagesAreLoaded() {
                        var areNotDisplayed = false;
                        $('#getSetNamesFromServerLoadingAnimation').css('display', 'none');
                        var imageContainers = $('#existingSets').find('.setContainer');
                        imageContainers.each(function (index, element) {
                            if ($(element).css('display') == 'none')
                            {
                                $(element).fadeIn(600);
                                areNotDisplayed = true;
                            }
                        });
                        
                        if (areNotDisplayed) {
                            createPagination(result.setsCount, pageNumber);
                        }
                    }
                }
            });
        }

        function showLoadingAnimation() {
            $('#getSetNamesFromServerLoadingAnimation').css('display', 'block');
        }

        function fillSets(result) {
            if (result.setsCount == 0)
            {
                $('#getSetNamesFromServerLoadingAnimation').css('display', 'none');
                $('#existingSets').html('<h4 style="margin-top:50px;">No sets are found by this search criteria</h4>');
                $('#existingSets').css('display', 'block');
                return;
            }

            var html = '';
            html += '<div class="row existingItemsRow">';
            for (var i = 0; i < result.sets.length; i++) {
                var id = result.sets[i].setName;
                html += '<div id="' + id + '" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 setContainer">' +
                    '<div class="relativeClass clearfix">' +
                    '<div class="overlay"></div>' +
                    '<img src="/Content/Images/Sets/' + result.sets[i].setName + '/' + result.sets[i].mainImageName + '" class="image" alt="image cant be loaded" onload="imgLoaded(this)"/>' +
                    '<a href="/Work/Set?name=' + result.sets[i].setName + '"><div class ="setName"><h2>' + result.sets[i].setName + '</h2><p>View Product</p></div></a>' +
                    '</div>' +
                    '</div>';
            }
            html += '</div>'; 
            $('#existingSets').html(html);
            $('#existingSets').css('display', 'block');
        }

        $('#pagination').on('click', '.paginationBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var pageNumber = id.substring(hyphenId + 1);
            $('#pagination').fadeOut();
            $('html').animate({
                scrollTop: 0
            }, 500, function () {
                $('#existingSets').fadeOut(400, function () {
                    getSetNamesFromServer(pageNumber);
                });
            });
        })

        $('#pagination').on('click', '#nextBtn', function (e) {
            var currentid = $('#pagination > .current').attr('id');
            var hyphenId = currentid.indexOf('-');
            var currentPageNumber = currentid.substring(hyphenId + 1);
            var lastId = $('#pagination > .paginationBtn').last().attr('id')
            var lastHyphenId = lastId.indexOf('-');
            var lastPageNumber = lastId.substring(hyphenId + 1);
            if (currentPageNumber == lastPageNumber) {
                e.preventDefault();
                return;
            }

            $('#pagination').fadeOut();
            $('html').animate({
                scrollTop: 0
            }, 500, function () {
                $('#existingSets').fadeOut(400, function () {
                    getSetNamesFromServer(parseInt(parseInt(currentPageNumber) + parseInt(1)));
                });
            });

        })

        $('#pagination').on('click', '#prevBtn', function (e) {
            var currentid = $('#pagination > .current').attr('id');
            var hyphenId = currentid.indexOf('-');
            var currentPageNumber = currentid.substring(hyphenId + 1);
            if (currentPageNumber == 1) {
                e.preventDefault();
                return;
            }

            $('#pagination').fadeOut();
            $('html').animate({
                scrollTop: 0
            }, 500, function () {
                $('#existingSets').fadeOut(400, function () {
                    getSetNamesFromServer(parseInt(parseInt(currentPageNumber) - parseInt(1)));
                });
            });

        })

        $('#searchInput').autocomplete({
            source: $('#searchInput').attr("data-autocomplete-source")
        });


        $("#itemsCountBtn").click(function () {
            if ($('#hidddenItemsCount').css('display') != 'none') {
                $('#hidddenItemsCount').css('display', 'none');
            }
            else {
                $(this).next().css('display', 'block');
            }
        });

        $(window).resize(function () {
            var hiddendiv = $('#hidddenItemsCount');
            hiddendiv.css('display', 'none');
        });

        $(window).click(function (e) {
            if ($('#hidddenItemsCount').css('display') != 'none' && e.target.id != 'itemsCountBtn' && e.target.id != 'itemsCountBtnCaretDown') {
                $('#hidddenItemsCount').css('display', 'none');
            }
        })

        $('#hidddenItemsCount').on('click', '.hiddenBtnImageCount', function (e) {
            var thisValue = $(this).text();
            var itemsCountBtnValue = $('#itemsCountBtn').text();
            if (thisValue == itemsCountBtnValue) {
                return;
            }
            $('#itemsCountBtn').text(thisValue);
            $('#itemsCountBtn').append('<i id ="itemsCountBtnCaretDown" class="fa fa-caret-down" aria-hidden="true"></i>');

            $('#pagination').fadeOut();
            $('html').animate({
                scrollTop: 0
            }, 500, function () {
                $('#existingSets').fadeOut(400, function () {
                    getSetNamesFromServer(1);
                });
            });
        })

        $('#pagination').on('keypress', '#inputGoToPage', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                var pageNumber = parseInt($(this).val());
                if (!isNaN(pageNumber))
                {
                    $('#pagination').fadeOut();
                    $('html').animate({
                        scrollTop: 0
                    }, 500, function () {
                        $('#existingSets').fadeOut(400, function () {
                            getSetNamesFromServer(pageNumber);
                        });
                    });
                }
            }
        })      

    });

    var loadedBeginNumber = 0;
    var loadedEndNumber = 0;
    var loadedResultImageCount = 0;
    var loadedPageNumber = 0;
    function imgLoaded(img) {
        loadedBeginNumber++;
        if (loadedBeginNumber == loadedEndNumber) {
            var imageContainers = $('#existingSets').find('.setContainer');
            $('#getSetNamesFromServerLoadingAnimation').css('display', 'none');
            imageContainers.each(function (index, element) {
                if (index == imageContainers.length - 1) {
                    $(element).delay(100 * index).fadeIn(600, function () {
                        createPagination(loadedResultImageCount, loadedPageNumber);
                    });
                }
                else
                {
                    $(element).delay(100 * index).fadeIn(600);
                }
            });
        }
    };

    function createPagination(totalSetsCount, pageNumber) {
        var setsCountOnPage = parseInt($('#itemsCountBtn').text());
        var html = getPaginationHtml(totalSetsCount, setsCountOnPage, pageNumber)

        $('#pagination').html(html);
        $('#paginationBtn-' + pageNumber).addClass('current');
        $('#pagination').fadeIn();
    }
</script>

