.main-image {
    width: 100%;
    height: 200px;
    margin-top:30px;
}

.my-image {
    width: 80%;
    /*max-width: 550px;*/
    max-height: 100%;
    margin-top:20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product-text {
    margin-left:10px;
    margin-right:10px;
}

.left {
    float:right;
}

.my-image-big {
     width: 90%;
     margin-top:20px;
     margin-bottom: 20px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@/*media (max-width:1200px) {
    .my-image {
        max-width: 400px;
    }
}*/