@{
    ViewBag.Title = "Home Page";
}

2222222222222222222222
<div class="row">
    <div class="col-md-4">
        asaasd
    </div>
    <div class="col-md-4" style="text-align:right">
        <select>
            <option>Eng</option>
            <option>Rus</option>
            <option>GER</option>
        </select> 
    </div>
    <div class="col-md-4">
        <div style="display: inline-block; width:60%;">
            aa
        </div>
        <div style="display: inline-block;">
            vv
        </div>
        LLLLLLLLLLLLLLLLLLLLLLLLLLL
    </div>
</div>