@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/Home/HomeIndex.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
}
<script type="text/javascript">
    function imgLoaded(img) {
        $(img).css('opacity', '1');

        setTimeout(function () {
            $('.scale').each(function (index, element) {
                setTimeout(function () {
                    $(element).css('opacity', '1');
                }, 100 * index);
            });
        }, 700);
    };
</script>

<div class="buttonsContainer">
    <div class="buttonContainer scale">
        <i class="fa fa-facebook" aria-hidden="true" style="font-size:24px;"></i>
    </div>
    <div class="buttonContainer scale">
        <i class="fa fa-instagram" aria-hidden="true" style="font-size:24px;"></i>
    </div>
    <div class="buttonContainer scale">
        <i class="fa fa-envelope-o" aria-hidden="true" style="font-size:24px;"></i>
    </div>
    @*<div class="buttonContainer">
        <div style="font-size:24px; background-image:url('../Content/Images/shatterstockLogo.png'); background-size:cover;">
        <div style="width:32px; height:35px; background-color:blue; background-size:cover;">
            <img src="~/Content/Images/shatterstockLogo.png" style="width:100%; height:100%">
        </div>
        <i class="fa" style="font-size:24px; height:35px"><img src="~/Content/Images/shatterstockLogo.png" style="width:100%; height:100%"></i>
    </div>*@
    <img class="scale" src="~/Content/Images/shatterstockLogo.png" style="width:32px; height:35px; margin-top:-10px; box-shadow: 0 0 10px rgba(0,0,0,0.5); border-radius:3px;">
</div>

<div class="row photoAndDescription">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 imageContainer">
        <img id="myPfoto" src="~/Content/Images/picture.gif" alt="image cant be loaded" onload="imgLoaded(this)">
    </div>
    <div class="col-xs-6 col-sm-8 col-md-8 col-lg-9 textContainer">
        <div class="text">
            Hello, my name is Tanya Pavluchenko. I am a graphic designer. I create images, logotips... You can see my works in this site. Also to see more you can go to my account in Instagramm,
            Facebook and Shatterstock.
        </div>
    </div>
</div>


    <script type="text/javascript">
        $(document).ready(function () {

            //$('.scale').each(function (index, element) {
            //    setTimeout(function () {
            //        $(element).css('opacity', '1');
            //    }, 100 * index);
            //});
            //$('.buttonContainer').bind('click', function () {
            //    alert('dd');
            //});
        });
    </script>
