
@{
    ViewBag.Title = "Sets";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="AddSet" style="display:block">
                <div class="item item-left">
                    <div class="item-content">
                        <h3 class="text">ADD SET</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="/DeleteSet" style="display:block">
                <div class="item item-right">
                    <div class="item-content">
                        <h3 class="text">DELETE SET</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        @using (Html.BeginForm("AddSet", "Admin", FormMethod.Get))
        {
            <button class="my-btn btn btn-default" type="submit">Add set</button>
        }
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        @using (Html.BeginForm("DeleteSet", "Admin", FormMethod.Get))
        {
            <button class="my-btn btn btn-default" type="submit">Delete Set</button>
        }
    </div>
</div>*@
