
@{
    ViewBag.Title = "Sets";
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="tokenContainer">
    @Html.AntiForgeryToken()
</div>

@using (Html.BeginForm("AddSet", "Admin", FormMethod.Get))
{
    <div id="pageName">
        <input class="my-btn btn" type="submit" value="Add set" />
    </div>
}

<div>
    <div id="itemSeacher">
        <input id="searchInput" type="text" class="form-control input-lg" placeholder="Enter keyWord" autocomplete="off" spellcheck="false" autocorrect="off" data-autocomplete-source="@Url.Action("SetsAutocompleteSearch", "Admin")">
        <button id="searchBtn" class="my-btn btn">
            <i class="fa fa-search" style="font-size:20px" aria-hidden="true"></i>
        </button>
        <div id="searchInfoContainer">
            <label>Show </label>
            <div id="itemsCountContainer">
                <button id="itemsCountBtn" class="btn my-btn itemsCountBtn">
                    7<i id="itemsCountBtnCaretDown" class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <div id="hiddden-ImageCount">
                    <div>
                        <button class="btn my-btn itemsCountBtn hiddenBtnImageCount">60</button>
                    </div>
                    <div>
                        <button class="btn my-btn itemsCountBtn hiddenBtnImageCount">100</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="existingSets"></div>

<div id="pagination"></div>



@*<div class="content">
    <div class="row">
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="AddSet" style="display:block">
                <div class="item item-left">
                    <div class="item-content">
                        <h3 class="text">ADD SET</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="no-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="DeleteSet" style="display:block">
                <div class="item item-right">
                    <div class="item-content">
                        <h3 class="text">DELETE SET</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>*@

<div id="loadingAnimation" style="display:none">
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        showLoadingAnimation();
        getSetNamesFromServer(1);

        $('#searchBtn').bind('click', function () {
            showLoadingAnimation();
            getSetNamesFromServer(1);
        });


        function getSetNamesFromServer(pageNumber) {
            var keyWords = $('#searchInput').val();
            var setsCountOnPage = parseInt($('#itemsCountBtn').text());

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSetsNames", "Admin")',
                data: { __RequestVerificationToken: getAntiForgeryToken(), keyWords: keyWords, setsCountOnPage: setsCountOnPage, pageNumber: pageNumber },
                success: function (result) {
                    fillSets(result);
                    createPagination(result.setsCount, pageNumber);
                },
                error: function (xhr, status, p3) {
                    alert('error');
                }
            });
        }

        function showLoadingAnimation() {
            $('#existingSets').css('margin-top', '130px');
            $('#existingSets').css('margin-bottom', '130px');
            var LoaderHtmml = $("#loadingAnimation").html();
            $('#existingSets').html(LoaderHtmml);
        }

        function fillSets(result) {
            if (result.setsCount == 0)
            {
                $('#existingSets').css('margin-top', '20px');
                $('#existingSets').css('margin-bottom', '0px');
                $('#existingSets').html('<h4>No sets are found by this search criteria</h4>');
                return;
            }

            var html = '';
            var count = 0;
            //var imagesCountOnPage = parseInt($('#itemsCountBtn').text());
            while (count < result.sets.length) {
                var endValue = count + 2;
                if (count + 2 > result.sets.length) {
                    endValue = result.sets.length;
                }
                var setArray = new Array(0);
                for (var i = count; i < endValue; i++) {
                    setArray.push(result.sets[i]);
                }
                html += '<div class="row existingItemsRow">';
                for (var i = 0; i < setArray.length; i++) {
                    var id = setArray[i].setName;
                    html += '<div id="' + id + '" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 setContainer">' +
                        '<div class="relativeClass clearfix">' +
                        //'<div id ="blackoutAnimation-' + id + '" class ="blackoutAnimation"></div>' +
                        '<img src="/Content/Images/Sets/' + setArray[i].setName + '/' + setArray[i].mainImageName + '" class="image" />' +
                        '<div class ="setName"><h2>' + setArray[i].setName + '</h2><p>View Set</p></div>' +
                        '<div id="setInfo-' + id + '" class ="setInfo"><i id="deleteSetBtn-' + id + '" class="fa fa-trash-o deleteSetBtn" style="font-size:23px;" aria-hidden="true"></i>' +
                        '<i id="settingsSetBtn-' + id + '" class="fa fa-cog settingsSetBtn" aria-hidden="true" style="font-size:23px;"></i></div>' +
                        '<div id ="deletingAnimation-' + id + '" class ="deletingAnimation"><i class="fa fa-spinner fa-spin" style="font-size:80px"></i></div>' +
                        '</div>' +
                        '</div>';
                }
                html += '</div>';
                count += 2;
            }
            $('#existingSets').css('margin-top', '20px');
            $('#existingSets').css('margin-bottom', '0px');
            $('#existingSets').html(html);
        }

        function createPagination(totalSetsCount, pageNumber) {
            var setsCountOnPage = parseInt($('#itemsCountBtn').text());
            var html = getPaginationHtml(totalSetsCount, setsCountOnPage, pageNumber)

            $('#pagination').html(html);
            $('#paginationBtn-' + pageNumber).addClass('current');
        }

        function getAntiForgeryToken() {
            return $(".tokenContainer > input[type='hidden'][name$='RequestVerificationToken']").val();
        }

        $('#pagination').on('click', '.paginationBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var pageNumber = id.substring(hyphenId + 1);
            $('html, body').animate({
                scrollTop: 0
            }, 500, function () {
                showLoadingAnimation();
                getSetNamesFromServer(pageNumber);
            });
        })

        $('#pagination').on('click', '#nextBtn', function (e) {
            var currentid = $('#pagination > .current').attr('id');
            var hyphenId = currentid.indexOf('-');
            var currentPageNumber = currentid.substring(hyphenId + 1);
            var lastId = $('#pagination > .paginationBtn').last().attr('id')
            var lastHyphenId = lastId.indexOf('-');
            var lastPageNumber = lastId.substring(hyphenId + 1);
            if (currentPageNumber == lastPageNumber) {
                e.preventDefault();
                return;
            }
            $('html, body').animate({
                scrollTop: 0
            }, 500, function () {
                showLoadingAnimation();
                getSetNamesFromServer(parseInt(parseInt(currentPageNumber) + parseInt(1)));
            });

        })

        $('#pagination').on('click', '#prevBtn', function (e) {
            var currentid = $('#pagination > .current').attr('id');
            var hyphenId = currentid.indexOf('-');
            var currentPageNumber = currentid.substring(hyphenId + 1);
            if (currentPageNumber == 1) {
                e.preventDefault();
                return;
            }
            $('html, body').animate({
                scrollTop: 0
            }, 500, function () {
                showLoadingAnimation();
                getSetNamesFromServer(parseInt(parseInt(currentPageNumber) - parseInt(1)));
            });

        })

        $('#searchInput').autocomplete({
            source: $('#searchInput').attr("data-autocomplete-source")
        });


        $("#itemsCountBtn").click(function () {
            var hiddendiv = $('#hiddden-ImageCount');
            var leftOfs = $(this).offset().left;
            hiddendiv.offset({ left: leftOfs });
            $(this).next().slideToggle('fast');
        });

        $(window).resize(function () {
            var hiddendiv = $('#hiddden-ImageCount');
            var itemsCountBtn = $('#itemsCountBtn');
            var leftOfs = itemsCountBtn.offset().left;
            hiddendiv.offset({ left: leftOfs });
        });

        $(window).click(function (e) {
            if ($('#hiddden-ImageCount').css('display') != 'none' && e.target.id != 'itemsCountBtn' && e.target.id != 'itemsCountBtnCaretDown') {
                $('#hiddden-ImageCount').slideToggle('fast');
            }
        })

        $('#hiddden-ImageCount').on('click', '.hiddenBtnImageCount', function (e) {
            var thisValue = $(this).text();
            var itemsCountBtnValue = $('#itemsCountBtn').text();
            $('#itemsCountBtn').text(thisValue);
            $('#itemsCountBtn').append('<i id ="itemsCountBtnCaretDown" class="fa fa-caret-down" aria-hidden="true"></i>');
            var value1 = 60;
            var value2 = 100;
            if (thisValue == 60) {
                var value1 = 32;
                var value2 = 100;
            }
            else if (thisValue == 100) {
                var value1 = 32;
                var value2 = 60;
            }

            $('#hiddden-ImageCount').html('<div><button class="btn my-btn itemsCountBtn hiddenBtnImageCount">' + value1 + '</button></div>' +
                       '<div><button class="btn my-btn itemsCountBtn hiddenBtnImageCount">' + value2 + '</button></div>');
            showLoadingAnimation();
            getSetNamesFromServer(1);
        })

        $('#pagination').on('keypress', '#inputGoToPage', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                var pageNumber = parseInt($(this).val());
                if (!isNaN(pageNumber)) {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 500, function () {
                        showLoadingAnimation();
                        getSetNamesFromServer(pageNumber);
                    });
                }
            }
        })

        $('#existingSets').on('click', '.deleteSetBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var finalId = id.substring(hyphenId + 1);
            var html = '<p>CONFIRM DELETING</p>' +
                       '<i id="confirmDeleteBtn-' + finalId + '" style="font-size:28px;" class="fa fa-check confirmDeleteBtn" aria-hidden="true"></i>' +
                       '<i id="cancelBtn-' + finalId + '" style="font-size:28px;"  class="fa fa-times cancelBtn" aria-hidden="true"></i>';

            $(this).parent().html(html);
        })

        $('#existingSets').on('click', '.settingsSetBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var finalId = id.substring(hyphenId + 1);
            var html = '<p>CONFIRM CHANGING</p>' +
                       '<i id="confirmChangeBtn-' + finalId + '" style="font-size:28px;" class="fa fa-check confirmChangeBtn" aria-hidden="true"></i>' +
                       '<i id="cancelBtn-' + finalId + '" style="font-size:28px;"  class="fa fa-times cancelBtn" aria-hidden="true"></i>'+
                       '<a id="hiddenLink-' + finalId + '" href="/Admin/ChangeSet?setName=' + finalId + '" class="hiddenLink"></a>';

            $(this).parent().html(html);
        })

        $('#existingSets').on('click', '.confirmChangeBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var setId = id.substring(hyphenId + 1);
            var link = $('[id="hiddenLink-' + setId + '"]');
            link[0].click();
        })



        $('#existingSets').on('click', '.cancelBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var setId = id.substring(hyphenId + 1);
            var html = '<i id="deleteSetBtn-' + setId + '" class="fa fa-trash-o deleteSetBtn" style="font-size:23px;" aria-hidden="true"></i>' +
                       '<i id="settingsSetBtn-' + setId + '" class="fa fa-cog settingsSetBtn" aria-hidden="true" style="font-size:23px;"></i>';
            $(this).parent().html(html);
        })


        $('#existingSets').on('mouseleave', '.setContainer', function (e) {
            var id = $(this).attr('id');
            var html = '<i id="deleteSetBtn-' + id + '" class="fa fa-trash-o deleteSetBtn" style="font-size:23px;" aria-hidden="true"></i>' +
                       '<i id="settingsSetBtn-' + id + '" class="fa fa-cog settingsSetBtn" aria-hidden="true" style="font-size:23px;"></i>';
            $(this).find('.setInfo').html(html);
        })

        $('#existingSets').on('click', '.confirmDeleteBtn', function (e) {
            var id = $(this).attr('id');
            var hyphenId = id.indexOf('-');
            var setId = id.substring(hyphenId + 1);
            $('[id="deletingAnimation-'+ setId+'"]').fadeIn('slow', function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteSet", "Admin")',
                    data: { __RequestVerificationToken: getAntiForgeryToken(), setName: setId },
                    success: function (result) {
                        if (result.result == "Success") {
                            $('[id="deletingAnimation-'+ setId+'"]').html('<p>SET IS DELETED</p>');
                            setTimeout(function () {
                                showLoadingAnimation();
                                getSetNamesFromServer(1);
                            }, 2000);
                        }
                        else {
                            $('#deletingAnimation-' + setId).html('<p>DELETING FAIL</p>');
                            setTimeout(function () {
                                $('#deletingAnimation-' + setId).fadeOut('slow');
                            }, 2000);
                        }
                    },
                    error: function (xhr, status, p3) {
                        alert('error');
                    }
                });
            });
        })

    });
</script>