
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessfulSetSaving</title>
</head>
<body>
    <div> 
        <h2>SuccessfulSetSaving</h2>
    </div>
    <p>@ViewBag.Alex</p>
</body>
</html>
