.photoAndDescription {
    margin-top:50px;
    text-align:left;
}

.textContainer {
    padding-right:40px;
    padding-top:50px;
}

.imageContainer {
    padding-left:40px;
    /*padding-right:40px;*/
}

#myPfoto {
    max-height: 350px;
    max-width:100%;
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.buttonsContainer {
    position:absolute;
    top:87px;
    right:100px;
    z-index:100;
}

.buttonContainer {
    background-color:var(--secondColor);
    border-radius:3px;
    height:35px;
    width:32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: inline-block;
    margin-right: 8px;
    /*padding-top:5px;*/
}

.scale {
    opacity:0;
     -webkit-transition:  -webkit-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
}

.scale:hover{
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
}

    i {
        margin-top:5px;
    }

@media (max-width:447px) {

    .imageContainer, .textContainer {
        width:100%;
        padding-left:15px;
        padding-right: 15px;
    }

    .textContainer {
        margin-top:20px;
    }

    .photoAndDescription {
        text-align:center;
}
}
