.marg-btm {
    margin-bottom:10px;
}

#resultHtml {
    display:none;
}

#resultHtmlWithoutNotResultElements{
    display:none;
}


@media (max-width:768px){
.control-label {
    text-align: center;
    float:none;
}

.form-control{
    display:initial;
}

}