#addBlogContainer {
    width:100%;
    background-color:var(--secondColor); 
    padding-top:15px;
    padding-bottom:15px;
    margin-top:20px;
}

.deleteBlogItemBtn {
    position: absolute;
    top: 20px;
    right: -30px;
    cursor: pointer;
}
#blogItemsContainer {

    padding-left:20px;
    padding-right:50px;

}