.image {
    max-width: 100%;
    max-height: 150px;
    /*margin-top:20px;
    margin-bottom: 20px;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.imageContainer {
    background-size: cover;
}

.imageRow {
    min-height:70px;
    position:relative;
}


.settingsRow {
    background-color:#f4f1e4;
}

#pageHtml {
    margin-top:20px;
}

.margin-input, .maxHeightInput {
    display:inline;
    width:50px;
    height:25px;
    margin-left:5px;
}

.margin-label {
    text-align: right;
    padding-top: 7px;
    width:100px;
}

.control-label {
    text-align: right;
    padding-top: 7px;
    float:right;
}

.row {
    margin: 0px;
}

.settingsBtn {
    position: absolute;
    top:0;
    right: 0;
    margin: 5px;
    cursor: pointer;
    z-index:100;
}

.splitRowBtn {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 5px;
    margin-top: 22px;
    cursor: pointer;
    z-index:100;
}

.showBorderBtn {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 5px;
    margin-top: 39px;
    cursor: pointer;
    z-index:100;
}

.deleteRowBtn {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 5px;
    margin-top: 56px;
    cursor: pointer;
    z-index:100;
}

.border {
    border-width:1px;
    border-style:solid;
}

/*.showBorderCheckBox {
    margin: 0px;
}*/

.floatContainer {
    display:inline-block;
    /*background-color: white;
    border:1px solid transparent;
    border-radius:4px;
    border-color:black*/
}

.marg-r {
    margin-right:10px;
}

.marg-btm {
    margin-bottom:10px;
}


.downloadImageBtn, .floatLeftBtn, .floatCentertBtn, .floatRightBtn {
    cursor: pointer;
}

label {
    margin-bottom:0px;
}

.noPadding {
    padding:0px;
}

#resultHtml {
    display:none;
}



@media (max-width:768px){
.control-label {
    text-align: center;
    float:none;
}

.form-control{
    display:initial;
}

}