#resultInfo {
    margin-top:20px;
    position:relative;
}

.addImage {
    background-color:#f4f1e4;      
    padding-top:15px;
    padding-bottom:15px;
}

#images {
    display:none;
    margin-top:20px;
    margin-bottom:20px;
}

.deleteImageBtn {
    margin-top: 20px;
    cursor: pointer;
}


#uploadImages {
    display:none;
}

.alert{
    font-size:14px;
}

.closeAlertBtn {
    position: absolute;
    top:0;
    right: 0;
    margin: 5px;
    cursor: pointer;
    z-index:100;
}


.fa-spin {
    font-size:100px
}


.deleteImageInfo {
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: #f4f1e4;
    height:0px;
    width:100%;
    overflow:hidden;
    transition: height 0.4s;
    z-index: 5;
}

    .deleteImageInfo p {
        margin-top:8px;
        margin-bottom:3px;
    }

.relativeClass:hover .deleteImageInfo {
    height: 60px;
    min-width:80px
}

.relativeClass:hover .blackoutAnimation {
    opacity:0.6;
}

.confirmDeleteBtn {
    margin-right:72px;
    cursor: pointer;
}

.cancelDeleteBtn {
    cursor: pointer;
}

.deletingAnimation {
    position:absolute;
    top:0;
    right: 0;
    height:100%;
    width:100%;
    background-color: black;
    color: white;
    padding:20%;
    display:none;
    z-index:6;
}

    .deletingAnimation p {
        margin-top:19%;
    }

.blackoutAnimation {
    position:absolute;
    top:0;
    right: 0;
    height:100%;
    width:100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
}

.warningBorder {
    border: solid;
    color: red;
    border-width:1px;
    box-shadow: 0 0 10px red;
}

@media (max-width:600px) {

   #resultInfo {
       margin-top:40px;
    }
}
