.imageContainer {
    background-size: cover;
    margin-bottom:30px;
    position:relative;
    display:none;
    height: 180px;
}


.image {
    max-width: 100%;
    max-height:180px;
    box-shadow: 0 0 10px rgba(140, 120, 120, 0.38);
    cursor: pointer;
    border-radius:3px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    -webkit-transition:  -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

#loading {
    display:none;
}

#existingImages {
    margin-top:20px;
}

.existingItemsRow{
    padding-left:30px;
    padding-right:30px;
}

.relativeClass {
    position: relative;
    display:inline-block;
}

.middleImage {
    display: none;
}

@media (max-width:767px) {

   .image {
       max-height:600px;
       -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: unset;
        cursor: unset;
    }

    .imageContainer {
        height: unset;
    }

    .middleImage {
        display: unset;
    }

    .smallImage {
        display:none;
    }
}

@media (min-width:1500px) {
    .col-lg-3 {
        width: 20%;
    }
}

@media (min-width:768px) {


       .image:hover {
        -webkit-transform: scale(1.15) translateY(-42%);
        -moz-transform: scale(1.15) translateY(-42%);
        -ms-transform: scale(1.15) translateY(-42%);
        -o-transform: scale(1.15) translateY(-42%);
        transform: scale(1.15) translateY(-42%);
    }
}
