#fountainG{
	position:relative;
	width:480px;
	height:28px;
	margin:auto;
}

#loadingAnimation {
    margin-top:250px;
    margin-bottom:250px;
    display:none;
}

@media (max-height:750px) {

    #loadingAnimation {
            margin-top:220px;
            margin-bottom:220px;
    }
}

@media (max-height:650px) {

    #loadingAnimation {
            margin-top:200px;
            margin-bottom:200px;
    }
}


@media (max-height:600px) {

    #loadingAnimation {
            margin-top:180px;
            margin-bottom:180px;
    }
}

@media (max-height:550px) {

    #loadingAnimation {
            margin-top:150px;
            margin-bottom:150px;
    }
}

@media (max-height:500px) {

    #loadingAnimation {
            margin-top:130px;
            margin-bottom:130px;
    }
}

@media (max-height:400px) {

    #loadingAnimation {
            margin-top:100px;
            margin-bottom:100px;
    }
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.3s;
		-o-animation-duration:1.3s;
		-ms-animation-duration:1.3s;
		-webkit-animation-duration:1.3s;
		-moz-animation-duration:1.3s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	/*animation-delay:0.52s;
		-o-animation-delay:0.52s;
		-ms-animation-delay:0.52s;
		-webkit-animation-delay:0.52s;
		-moz-animation-delay:0.52s;*/
}

#fountainG_2{
	left:60px;
	animation-delay:0.13s;
		-o-animation-delay:0.13s;
		-ms-animation-delay:0.13s;
		-webkit-animation-delay:0.13s;
		-moz-animation-delay:0.13s;
}

#fountainG_3{
	left:120px;
	animation-delay:0.26s;
		-o-animation-delay:0.26s;
		-ms-animation-delay:0.26s;
		-webkit-animation-delay:0.26s;
		-moz-animation-delay:0.26s;
}

#fountainG_4{
	left:180px;
	animation-delay:0.39s;
		-o-animation-delay:0.39s;
		-ms-animation-delay:0.39s;
		-webkit-animation-delay:0.39s;
		-moz-animation-delay:0.39s;
}

#fountainG_5{
	left:240px;
	animation-delay:0.52s;
		-o-animation-delay:0.52s;
		-ms-animation-delay:0.52s;
		-webkit-animation-delay:0.52s;
		-moz-animation-delay:0.52s;
}

#fountainG_6{
	left:300px;
	animation-delay:0.65s;
		-o-animation-delay:0.65s;
		-ms-animation-delay:0.65s;
		-webkit-animation-delay:0.65s;
		-moz-animation-delay:0.65s;
}

#fountainG_7{
	left:360px;
	animation-delay:0.78s;
		-o-animation-delay:0.78s;
		-ms-animation-delay:0.78s;
		-webkit-animation-delay:0.78s;
		-moz-animation-delay:0.78s;
}

#fountainG_8{
	left:420px;
	animation-delay:0.91s;
		-o-animation-delay:0.91s;
		-ms-animation-delay:0.91s;
		-webkit-animation-delay:0.91s;
		-moz-animation-delay:0.91s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


@media (max-width:490px) {

    #fountainG{
	width:400px;
    }

    .fountainG {
        width: 25px;
        height: 25px;
    }

    #fountainG_2 {
        left: 50px;
    }

    #fountainG_3 {
        left: 100px;
    }

    #fountainG_4 {
        left: 150px;
    }

    #fountainG_5 {
        left: 200px;
    }

    #fountainG_6 {
       left: 250px;
    }

    #fountainG_7 {
      left: 300px;
    }

    #fountainG_8 {
      left: 350px;
    }
}

@media (max-width:400px) {

    #fountainG{
	width:240px;
    }

    .fountainG {
        width: 14px;
        height: 14px;
    }

    #fountainG_2 {
        left: 30px;
    }

    #fountainG_3 {
        left: 60px;
    }

    #fountainG_4 {
        left: 90px;
    }

    #fountainG_5 {
        left: 120px;
    }

    #fountainG_6 {
       left: 150px;
    }

    #fountainG_7 {
      left: 180px;
    }

    #fountainG_8 {
      left: 210px;
    }
}

@media (min-width:1500px) {

    #fountainG{
	width:640px;
    }

    .fountainG {
        width: 30px;
        height: 30px;
    }

    #fountainG_2 {
        left: 80px;
    }

    #fountainG_3 {
        left: 160px;
    }

    #fountainG_4 {
        left: 240px;
    }

    #fountainG_5 {
        left: 320px;
    }

    #fountainG_6 {
       left: 400px;
    }

    #fountainG_7 {
      left: 480px;
    }

    #fountainG_8 {
      left: 560px;
    }
}