#pagination {
    margin-top:40px;
    margin-bottom:20px;
}

    #pagination #gotoLabel {
        margin-right:5px;
    }

     #pagination #ofLabel {
        margin-left:5px;
    }

#goToPageContainer {
   margin-left:0px;
   margin-top:15px;    
}

#inputGoToPage {
    width: 50px;
    display: inline;
    font-weight: bold;
    text-align:center;
}

.paginationBtn {
    margin-right:3px;
    margin-left:3px;
}

#prevBtn {
    margin-right:3px;
}

#nextBtn {
    margin-left:3px;
}

.current {
    background-color: #2572ed;
}
    .current:hover {
        background-color: #2572ed;
    }
