#pagination {
    margin-bottom:20px;
}

    #pagination #gotoLabel {
        margin-right:5px;
    }

     #pagination #ofLabel {
        margin-left:5px;
    }

#goToPageContainer {
   margin-left:0px;
   margin-top:15px;    
}

.paginationElement {
    display: inline-block;
    vertical-align:central;
    font-size: 18px;
    cursor: pointer;
}

#inputGoToPage {
    width: 50px;
    display: inline;
    font-weight: bold;
    text-align:center;
}

.paginationBtn {
    margin-right:8px;
    margin-left:8px;
}

#prevBtn {
    margin-right:3px;
}

#nextBtn {
    margin-left:3px;
}

.current {
    color:#b8e1ba; 
}
