#itemSeacher {
    margin-top:20px;
    padding-left:30px;
    padding-right:30px;
    position:relative;
}

#searchInput {
    display:inline;
    padding-left:5px;
    padding-right:5px;
    border-radius:3px;
    max-width:300px;
}

#searchBtn {
    height:28px;
    width: 28px;
    margin-left:8px;
    cursor:pointer;
}

#itemsCountContainer {
    display:inline-block;
    vertical-align:top;
    width:50px;
    margin-top: 8px;
    font-size: 16px;
}

.topBtn {
    border-bottom: 1px solid #cccccc;
}

.bottomBtn {
    border-top: 1px solid #cccccc;
}


label {
    margin-top: 7px;
    vertical-align: top;
    font-weight: normal;
}

#itemsCountBtn {
    position:relative;
    cursor: pointer;
    color: #b8e1ba;
}

.hiddenBtnImageCount{
    width: 50px;
    background-color: white;
    height: 30px;
    padding-top:5px;
    cursor: pointer;
}

.hiddenBtnImageCount:hover{
    background-color: #b8e1ba;
}

#hidddenItemsCount {
    position:absolute;
    z-index:100;  
    display:none;  
    border: 1px solid #cccccc;
    margin-top: 5px;
    border-radius: 3px;
}

.fa-caret-down {
    position:absolute;
    right:0px;
    margin-top:2px;
    color: black;
}

#searchInfoContainer {
    top:0;
    right:60px;
    position: absolute;
    float:right;
    height: 34px;
}

 .ui-autocomplete {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-state-hover, .ui-state-active {
    font-size:16px;
}


.ui-menu-item-wrapper {
    border-radius:3px;
}

@media (max-width:900px) {
    #searchInfoContainer {
        display:inline-block;
        vertical-align:top;
        top:unset;
        right:unset;
        position: unset;
        float:unset;
    }
}

@media (max-width:592px) {

    #searchInput {
        max-width:calc(100% - 229px);
    }
}

@media (max-width:490px) {

    #searchInfoContainer {
        display:none;
    }

     #searchInput {
        max-width:calc(100% - 75px);
    }
}
