.setContainer {
    padding-left:30px;
    padding-right:30px;
    margin-bottom:30px;
    position:relative;
    display:none;
}
.relativeClass {
    display:inline-block;
    position: relative;
    border-radius:3px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.4s;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: opacity 0.5s;
    -moz-transition:  opacity 0.5s;
    -ms-transition:  opacity 0.5s;
    -o-transition:  opacity 0.5s;
	transition: opacity 0.5s;
}

.image {
    max-width: 100%;
    max-height:100%;
    box-shadow: 0 0 10px rgba(140, 120, 120, 0.38);
    border-radius:3px;
}


#existingSets {
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
}

#getSetNamesFromServerLoadingAnimation {
    margin-top:130px;
    margin-bottom:130px;
    display:none;
}

.setName {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.setName h2 {
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:25%;
    color: white;
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.35s, opacity 0.45s;
    -moz-transition: -moz-transform 0.35s, opacity 0.45s;
    -ms-transition: -ms-transform 0.35s, opacity 0.45s;
    -o-transition: -o-transform 0.35s, opacity 0.45s;
	transition: transform 0.35s, opacity 0.45s;
}

.setName p {
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:5%;
    color: white;
    opacity: 0;
    font-size:14px;
	-webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
    -moz-transition: -moz-transform 0.35s, opacity 0.35s;
    -ms-transition: -ms-transform 0.35s, opacity 0.35s;
    -o-transition: -o-transform 0.35s, opacity 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100px,0);
    -moz-transform: translate3d(0,100px,0);
    -ms-transform: translate3d(0,100px,0); 
    -o-transform: translate3d(0,100px,0);
	transform: translate3d(0,100px,0);
}

.relativeClass:hover .overlay {
    opacity:0.8;
    cursor:pointer;
}

.relativeClass:hover h2 {
    opacity: 1;
}

.relativeClass:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0); 
    -o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media (max-width:500px) {

    #getSetNamesFromServerLoadingAnimation {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}