.mainRow {
    margin-right:45px;
    margin-left:45px;
}

.noPadding {
    padding:0px;
}

.imageContainer {
    background-size: cover;
    min-height:100px;
}

.image {
    max-width: 100%;
    max-height: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


#setNameContainer {
    background-color: var(--secondColor);
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 25px;
    font-family: 'Raleway', Arial, sans-serif;
}


@media (max-width:768px){
    .imageContainer {
        margin-bottom:30px;
    }

}

@media (max-width:600px) {

   #setNameContainer {
       margin-top:40px;
    }
}