@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/Contacts/ContactsIndex.css" />
}

<div class="text">If you want to offer cooperation, ask a question or just to chat - send me a letter to this email: </div>

<h2 class="email">tetianapavliuchenko@gmail.com</h2>

<div class="socials">
    <div style="font-size: 16px;"><p>Also you can find me in social networks:</p></div>
    <div class="buttonsContainer">
        <a href="https://www.instagram.com/tanya_pavluchenko_/" target="_blank"><img class="scale normalScale" src="~/Content/Images/instagramLogo.jpg"></a>
        <a href="https://www.facebook.com/tanya.tkachuk.18" target="_blank"><img class="scale normalScale center-element" src="~/Content/Images/FacebookLogo.jpg"></a>
        <a href="https://creativemarket.com/Pikovit" target="_blank"><img class="scale smallScale" src="~/Content/Images/CreativeMarketLogo.jpg"></a>
</div>
</div>

<div class="imageContainer"><img class="cactusImage" src="~/Content/Images/ContactsCactus.jpg" /></div> 

<script>

    $(document).ready(function () {
        $('.scale').each(function (index, element) {
            setTimeout(function () {
                $(element).css('opacity', '1');
            }, 100 * index);
        });
    });
</script>