@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/Contacts/ContactsIndex.css" />
}

<div id="bacgroundColorContainer">Contacts</div>

<h3>Email: <a href="mail">nusha_tkachuk@gmail.com</a></h3>

<h3>Instagram: <a href="instagram">Tanya instagramm</a></h3>
<h3>Facebook: <a href="facebook">facbook/tanya.tkachuk</a></h3>

<br />
<h2>Feel free to cantact wiw me:)</h2>
<h3>Email: <a href="mail">nusha_tkachuk@gmail.com</a></h3>

<h3>Instagram: <a href="instagram">Tanya instagramm</a></h3>
<h3>Facebook: <a href="facebook">facbook/tanya.tkachuk</a></h3>

<br />
<h2>Feel free to cantact wiw me:)</h2>
<h3>Email: <a href="mail">nusha_tkachuk@gmail.com</a></h3>

<h3>Instagram: <a href="instagram">Tanya instagramm</a></h3>
<h3>Facebook: <a href="facebook">facbook/tanya.tkachuk</a></h3>

<br />
<h2>Feel free to cantact wiw me:)</h2>