@model SiteForTanya.Models.BlogEntity

@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/BlogItem.css" />
}

<h2 style="color: #b8e1ba">@Model.Name</h2>

<div class="blogText">@Model.Text</div>