@model SiteForTanya.Models.BlogEntity

@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/BlogItem.css" />
}

<div id="bacgroundColorContainer">@Model.Name</div>

<div class="blogText">@Model.Text</div>