.cactusImage {
    /*opacity: 0;*/
    max-height: 400px;
}

.imageContainer {
    position: fixed;
    left: 50px;
    top: 200px;
}

.socials {
    margin-top: 60px;
    font-size: 14px;
}

.buttonsContainer {
    position: absolute;
    bottom:0;
}

.scale {
    opacity:0;
    -webkit-transition:  -webkit-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
    /*margin-right: 20px;*/
}

.smallScale {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

    .smallScale:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

.normalScale {
     -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.normalScale:hover {
     -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
}

.center-element {
    margin-left: 4px;
}

.content {
    margin-top: 70px;
}

.textContainer {
    height: 295px;
    /*position: relative;*/
    text-align:left;
}

.sendEmailContainer {
}

.email {
    margin-top: 30px;
    color: #b8e1ba;
    font-size: 16px;
}

.sendEmailForm {
    width: 350px;
    height: 290px;
    margin: 0 auto 0 auto;
    box-shadow: 0 0 10px rgba(140, 120, 120, 0.38);
    padding: 30px;
}

#name-input{
    width: 290px;
    border-radius: 3px;
}

#email-input {
    width: 290px;
    margin-top: 15px;
    border-radius: 3px;
}

#message-textarea {
    width: 290px;
    margin-top: 15px;
    border-radius: 3px;

}

#sendBtn {
    margin-top: 20px;
    margin-left: 230px;
    border-radius: 20px;
    height: 25px;
    padding: 0px 12px;
    color: white;
    background-color: #b8e1ba;
}

    #sendBtn:hover {
        background-color: #84cc87;
        border: none;
    }

    #sendBtn:focus {
        outline: none;
        border: none;
    }


#sucessSendingMessage, #failSendingMessage {
    display: none;
    margin-top: 20px;
}




#fountainG{
	position:relative;
	width:144px;
	height:17px;
	margin:auto;
    display: none;
    margin-top: 25px;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:17px;
	height:17px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:11px;
		-o-border-radius:11px;
		-ms-border-radius:11px;
		-webkit-border-radius:11px;
		-moz-border-radius:11px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:18px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:36px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:54px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:72px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:90px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:108px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:126px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

/*@media (max-width:1170px) {

    .imageContainer {
        left: 0;
    }
}

@media (max-width:1070px) {

    .cactusImage {
        max-height: 300px;
    }
    .imageContainer {
        position: fixed;
        left: 0;
        top: 240px;
    }
}

@media (max-width:890px) {

    .imageContainer {
       position: relative;
       top: unset;
       left: unset;
       max-height: 100px;
    }
}

@media (max-width:500px) {

    h2 {
        font-size: 20px;
    }
}*/

@media (max-width:905px) {

    .sendEmailContainer {
        width: 100%;
    }

    .textContainer {
         width: 100%;
         height: unset;
         text-align: center;
         margin-top: 50px
    }

    .content {
        margin-top: 20px;
    }

    .buttonsContainer {
        position:unset;
        bottom:unset;
        margin-top: 30px;
        float: none;
    }
}