@section scripts {
    <link type="text/css" rel="stylesheet" href="~/Content/Home/HomeIndex.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
}

<div class="row photoAndDescription" style="margin-top: 40px;">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 photoContainer">
        <img id="pfoto" src="~/Content/Images/Photo.jpg" alt="image cant be loaded">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textContainer">
        <div class="text">
            <p>Hi</p>
            <p>My name us Tetiana Pavliuchenko. I'm graphic designer and illustrator from Ukraine. Welcome to my site. Here you can find some of my projects.</p>
            <p>If you are looking for modern clean vector illustrations - you are in the right place. I'm working mostly on illustrations, logo, product patterns. </p>
            <p>Some of my works you can purchase on Creative Market, Shutterstock or Fotolia. Or, if you want to, just write me directly. </p>
            <p>In blog section you will find some tips and little pretty freebies.</p>
            <p>Feel free to write me in case you have ideas of our cooperation or just want to say hi (smiley)</p>
        </div>
        <div class="buttonsContainer">
            <a href="https://www.instagram.com/tanya_pavluchenko_/" target="_blank"><img class="scale normalScale" src="~/Content/Images/instagramLogo.jpg"></a>
            <a href="https://www.facebook.com/tanya.tkachuk.18" target="_blank"><img class="scale normalScale center-element" src="~/Content/Images/FacebookLogo.jpg"></a>
            <a href="https://creativemarket.com/Pikovit" target="_blank"><img class="scale smallScale" src="~/Content/Images/CreativeMarketLogo.jpg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 cactusImageContainer">
        <img id="cactusImage" src="~/Content/Images/Cactus.jpg" alt="image cant be loaded">
    </div>
</div>

<div class="mobile-veiw-container" style="margin-top: 40px;">
    <div class="mobile-text">
        <p><img id="mobile-pfoto" src="~/Content/Images/Photo.jpg" alt="image cant be loaded">
        <p>Hi, my name us Tetiana Pavliuchenko. I'm graphic designer and illustrator from Ukraine. Welcome to my site. Here you can find some of my projects.</p>
        <p>If you are looking for modern clean vector illustrations - you are in the right place. I'm working mostly on illustrations, logo, product patterns. </p>
        <p>Some of my works you can purchase on Creative Market, Shutterstock or Fotolia. Or, if you want to, just write me directly. </p>
        <p>In blog section you will find some tips and little pretty freebies.</p>
        <p>Feel free to write me in case you have ideas of our cooperation or just want to say hi (smiley)</p>
    </div>
    <div class="mobile-buttonsContainer">
        <a href="https://www.instagram.com/tanya_pavluchenko_/" target="_blank"><img class="scale normalScale" src="~/Content/Images/instagramLogo.jpg"></a>
        <a href="https://www.facebook.com/tanya.tkachuk.18" target="_blank"><img class="scale normalScale center-element" src="~/Content/Images/FacebookLogo.jpg"></a>
        <a href="https://creativemarket.com/Pikovit" target="_blank"><img class="scale smallScale" src="~/Content/Images/CreativeMarketLogo.jpg"></a>
    </div>
</div>

<script type="text/javascript">

        var count = 0;

        document.getElementById("pfoto").addEventListener("load", imgLoaded(), false);
        document.getElementById("cactusImage").addEventListener("load", imgLoaded(), false);

        function imgLoaded() {
            count++;
            if (count == 2) {
                $('.photoAndDescription').animate({
                    'opacity': '1'
                }, 400, function () {
                    $('.scale').each(function (index, element) {
                        setTimeout(function () {
                            $(element).css('opacity', '1');
                        }, 100 * index);
                    });
                });
            }
        };       
</script>
